.navbar {
  flex-direction: column;
  height: 160px;
  padding: 20px;
}

.navbar a {
  padding: 15px 8px;
  margin: 0 3px;
}
.hero .content h1{
  font-size: 45px;
}
.hero .content p{
  font-size: 20px;
}
.flex-items {
  flex-direction: column;
}

.flex-columns .column, .flex-grid .column {
  flex: 100%;
  max-width: 100%;
}

.team img {
  width: 70%;
}